:root {
  --color-bg: var(--color-purple-black-1);
  --color-bg-overlay: var(--color-purple-black-2);
  --color-border-overlay: var(--color-light-gray);
  --color-text-primary: var(--color-white);
  --color-link: var(--color-pink);
  --color-btn-bg: var(--color-gray);
  --color-btn-bg-active: var(--color-light-gray);
  --color-btn-text: var(--color-black);
  --color-toc-border: var(--color-gray);
  --color-toc-bullet: var(--color-light-gray);
  --dropdown-shadow: rgba(28, 33, 40, 0.85) 0px 16px 32px 0px;
}
img:not([src*='.svg']) {
  filter: grayscale(50%);
}
img[src*='.svg'] {
  filter: invert(100%);
}
img[src*='.svg']:hover {
  filter: invert(40%);
}
